@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: sandybrown;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pos1 {
  min-width: 115px;
  height: auto;
  margin: 10px;
  text-align: center;
}
.pos1 img {
  height: auto;
}
.pos2 {
  align-items: center;
  text-align: center;
  width: 90%;
}
.pos2 h1 {
  font-size: 3em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.bakery-home {
  display: flex;
  width: 100%;
}
.bakery-img {
  background-image: url("../img/svegaya_vipechka.jpg");
  font-size: x-large;
  color: red;
  width: 70%;
  padding: 20px 30px 20px;
  height: 80vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bakery-text {
  padding: 20px;
  width: 30%;
  min-width: 300px;
}
/* Секция footer */
.site-footer ul {
  list-style: none;
}
.site-footer {
  color: bisque;
  background-color: #131313;
}

.container_foot {
  display: flex;
}
.container_foot .left-column {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 100px;
}
.container_foot .right-column {
  width: 720px;
  padding-top: 35px;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 20%;
}
.logo-container h2 {
  color: aquamarine;
}
.logo-container .logo {
  margin-right: 20px;
}
.footer-menu {
  display: flex;
}

.footer-menu > li {
  width: 180px;
  margin-right: 60px;
}
.footer-submenu-title {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  color: aquamarine;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #555555;
}
.footer-submenu > li {
  margin-bottom: 10px;
}
.footer-submenu a {
  text-decoration: none;
  color: #888888;
}
.footer-submenu a:hover {
  color: aqua;
}
.footer-submenu a:active {
  color: #ccc;
}
