@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background: #111;
  height: 120vh;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: sandybrown;
}
.pos1 {
  min-width: 115px;
  height: auto;
  margin: 10px;
  text-align: center;
}
.pos1 img {
  height: auto;
}
.pos2 {
  align-items: center;
  text-align: center;
  width: 90%;
}
.pos2 h1 {
  font-size: 2.5em;
  /* text-transform: uppercase; */
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.cosi-phrase {
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  color: #404040;
  background-color: aqua;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(22, 70, 63);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
