@font-face {
  font-family: "FiraSans";
  src: url("/fonts/FiraSans-Regular.ttf"),
       url("/fonts/FiraSans-Bold.ttf"),
       url("/fonts/FiraSans-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraSans", "Arial", sans-serif;
  background: #111;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: sandybrown;
}
.pos1 {
  min-width: 115px;
  height: auto;
  margin: 10px;
  text-align: center;
}
.pos1 img {
  height: auto;
}
.pos2 {
  align-items: center;
  text-align: center;
  width: 90%;
}
.pos2 h1 {
  font-size: 3em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
/* main */
.advantage {
  background-image: repeating-linear-gradient(
    to right,
    white 0px,
    bisque 5px,
    white 10px
  );
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.row1 {
  /* flex-wrap: wrap; */
  width: 25%;
  font-size: x-large;
  min-width: 200px;
}
.row1 a {
  text-transform: uppercase;
}
.row1 .text {
  font-size: large;
  word-break: keep-all;
  line-break: strict;
  hyphens: auto;
  text-align: justify;
  padding: 10px;
  text-align-last: left;
}
.phrase {
  padding: 20px 0 20px;
  font-size: 40px;
  text-transform: uppercase;
}
.phrase,
.phrase2 {
  text-align: center;
  color: #404040;
  background-color: aqua;
  margin: 0;
}
.phrase2 {
  padding: 10px 0 10px;
  font-size: 30px;
  font-style: italic;
}
/* Секция footer */
.site-footer ul {
  list-style: none;
}
.site-footer {
  color: bisque;
  background-color: #131313;
}

.container_foot {
  display: flex;
}
.container_foot .left-column {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 100px;
}
.container_foot .right-column {
  width: 720px;
  padding-top: 35px;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 20%;
}
.logo-container h2 {
  color: aquamarine;
}
.logo-container .logo {
  margin-right: 20px;
}
.footer-menu {
  display: flex;
}

.footer-menu > li {
  width: 180px;
  margin-right: 60px;
}
.footer-submenu-title {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  color: aquamarine;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #555555;
}
.footer-submenu > li {
  margin-bottom: 10px;
}
.footer-submenu a {
  text-decoration: none;
  color: #888888;
}
.footer-submenu a:hover {
  color: aqua;
}
.footer-submenu a:active {
  color: #ccc;
}
